# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Data (Raw & Processed)
data/raw/*.json
data/processed/*.csv

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
